<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sxr.com.mainmodule">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CrimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CrimeListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AnimationTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BoxDrawingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SunsetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScrollActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ColorOptionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ContractDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CrimeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CircleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DatePickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DeletedListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".swipemenu.SwipeMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".swipemenu.DifferentMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".swipemenu.SimpleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CusContainerTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SceneTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AnimatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DialogTestActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.PopupWinTestActivity" />
        <activity android:name=".activity.SlideStudyActivity" />
        <activity android:name=".activity.CrimePagerActivity" />
        <activity android:name=".activity.EventBusActivity" />
        <activity android:name=".activity.MDWidgetActivity" />
        <activity android:name=".activity.CoordinateTestActivity" />
        <activity android:name=".activity.FilterMenuActivity" />
        <activity android:name=".activity.MultiFragmentActivity" />
        <activity android:name=".activity.FlowLayoutManagerActivity" />
        <activity android:name=".activity.FileChooserActivity" />
        <activity android:name=".activity.DatePickerLoopActivity" />
    </application>

</manifest>